{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="vh-100" style="background-color: #676767;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    
                    <h1 style="color: #ffe5b5" class="text mb-3">Ingresar</h1>
                    
                    <div class="card shadow-2-strong" style="border-radius: 15px;">
                        <div class="card-body p-5 text-center">

                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <div class="form-outline mb-4">
                                    <input type="email" value="{{ last_username }}" name="correo" id="inputCorreo" class="form-control form-control-lg" autocomplete="correo" placeholder="Correo" required autofocus>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="******"  placeholder="Contraseña" required>
                                    ´<!--<input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX-2">Password</label>-->
                                    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-start mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                    <label class="form-check-label" for="form1Example3"> Remember password </label>
                                </div>

                                <div class="px-5 py-4">    
                                    <button class="btn btn-info btn-block" type="submit">Login</button>
                                </div>

                                <!--<button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                                <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
