<div class="card" style="background: linear-gradient(to bottom, #f2f2f2, #d9d9d9); border-radius: 10px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); border:none;">
  <img src={{url_image}} class="card-img-top" alt="..."  style="width: 350px; height: 150px;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{descrip}}</p>
    <a href={{path_btn}} class="btn btn-primary">{{btn}}</a>
  </div>
</div>
