<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                
    {% if not (is_granted('IS_AUTHENTICATED_FULLY')) %}
        <a style="color: #F0F0F0" class="navbar-brand">APP</a>
    {% elseif  (is_granted('ROLE_CLIENTE')) %}
        <a style="color: #F0F0F0" class="navbar-brand">Cliente</a>
    {% elseif is_granted('ROLE_FACTURADOR')%}
        <a style="color: #F0F0F0" class="navbar-brand">Facturador</a>
    {% elseif is_granted('ROLE_ADMIN')%}
        <a style="color: #F0F0F0" class="navbar-brand">Administrador</a>
    {% endif %}
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if  (is_granted('ROLE_CLIENTE')) %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('app_cliente')}}">Home</a>
                    </li>
                
                {% elseif is_granted('ROLE_ASESOR')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_asesor')}}">Home</a>
                    </li>
                    
                {% elseif is_granted('ROLE_ADMIN')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_admin')}}">Home</a>
                    </li>
                {% endif %}

                <li class="nav-item disable">
                    <a class="nav-link " href="{{path('app_logout')}}">Exit</a>
                </li>
            {% endif %}
                
            {% if not (is_granted('IS_AUTHENTICATED_FULLY')) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_login')}}" style="color: #ffe4b2">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_register')}}" style="color: #ffe4b2">Registarse</a>
                </li>
            {% endif %}

        </ul>
        
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->

    </div>
</nav>